<div class="container">
  <div class="list-section">
    <!-- search section -->
    <div class="input-part">
      <div class="icon-search">
        <fa-icon
          [icon]="searchIcon"
          [classes]="['search-icon-class']"
        ></fa-icon>
      </div>
      <input
        type="search"
        autocomplete="off"
        placeholder="Search"
        class="search-input"
      />
    </div>
    <!-- list-box section -->
    <div class="list-box">
      <div class="list">
        <div
          class="movie-card"
          *ngFor="let movie of dataList"
          (click)="onCardClicked(movie.imdbID)"
          [ngClass]="{ selected: selectedItemId === movie.imdbID }"
        >
          <img src="{{ movie.posterUrl }}" class="img-cover" />
          <div class="detail">
            <div class="title">{{ movie.title }}</div>
            <div class="year">{{ movie.year }}</div>
            <div class="type">{{ movie.type }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
