.container {
  .list-section {
    height: 90vh;
    width: 330px;
    padding: 20px;
    background: rgba(191, 191, 191, 0.15);

    // search section
    .input-part {
      position: relative;
      margin-bottom: 24px;

      .icon-search {
        position: absolute;
        top: 25%;
        left: 6px;

        ::ng-deep .search-icon-class {
          color: #bfbfbf;
        }
      }

      .search-input {
        padding: 7px 9px 8px 30px;
        background: rgba(0, 0, 0, 0);
        color: #333;
        font-size: 0.9em;
        border-radius: 4px;
        min-height: 34px;
        width: 100%;
        background-color: white;
        border: 1px solid;
      }
    }

    .list-box {
      .list {
        height: 80vh;
        overflow: auto;
        overflow: overlay;

        .movie-card {
          display: flex;
          border-bottom: 1px solid lightslategray;
          margin-right: 15px;
          padding: 13px 8px;
          cursor: pointer;

          .img-cover {
            width: 85px;
            height: 108px;
            margin-right: 15px;
          }

          .detail {
            display: flex;
            flex-direction: column;

            .title {
              font-size: 20px;
              font-weight: bold;
            }

            .year {
              box-shadow: #333;
              padding: 4px;
              font-weight: bold;
              font-weight: bold;
              box-shadow: 2px 2px 2px 2px #dbdbdb;
              width: fit-content;
              margin-top: 10px;
              margin-bottom: 20px;
              border-radius: 2px;
            }

            .type {
              color: gray;
              font-size: 14px;
            }
          }
        }
      }
    }

    .selected {
      background-color: #ffce97;
      border-bottom: 1px solid #f05b41 !important;

      .detail {
        .year {
          box-shadow: none !important;
        }
      }
    }
  }
}
