<div class="container">
  <img class="banner" src="{{ movieData?.Poster }}" />

  <!-- movie-details -->
  <div class="details">
    <div class="movie-name">{{ movieData?.Title }}</div>
    <div class="rate margin-bottom-14">
      <fa-icon [icon]="starIcon"></fa-icon>
      <fa-icon [icon]="starIcon"></fa-icon>
      <fa-icon [icon]="starIcon"></fa-icon>
      {{ movieData?.imdbRating }}
    </div>
    <div class="time margin-bottom-14">
      <div class="year">
        <fa-icon [icon]="calendarIcon"></fa-icon>
        {{ movieData?.Year }}
      </div>
      <div class="run-time">
        <fa-icon [icon]="clockIcon"></fa-icon>
        {{ movieData?.Runtime }}
      </div>
    </div>
    <div class="country margin-bottom-14">
      <fa-icon [icon]="countryIcon"></fa-icon>
      {{ movieData?.Country }}
    </div>
    <div class="language margin-bottom-14">
      <fa-icon [icon]="languageIcon"></fa-icon>
      {{ movieData?.Language }}
    </div>
    <div class="award margin-bottom-14">
      <fa-icon [icon]="awardIcon"></fa-icon>
      {{ movieData?.Awards }}
    </div>
    <div class="money margin-bottom-14">
      <fa-icon [icon]="moneyIcon"></fa-icon>
      {{ movieData?.BoxOffice }}
    </div>
    <div class="money margin-bottom-14 bold">
      <span> Genre:</span> {{ movieData?.Genre }}
    </div>
    <div class="money margin-bottom-14 bold">
      <span> Director:</span> {{ movieData?.Director }}
    </div>
    <div class="money margin-bottom-14 bold">
      <span> Writer:</span> {{ movieData?.Writer }}
    </div>
    <div class="money margin-bottom-14 bold">
      <span> Actors:</span> {{ movieData?.Actors }}
    </div>
  </div>
</div>

<!-- movie-summery -->
<div class="description">
  <span> summery: </span>
  {{ movieData?.Plot }}
</div>
