<div class="container">
  <img
    class="banner"
    src="https://m.media-amazon.com/images/M/MV5BMTE0MjgzMjk5MzdeQTJeQWpwZ15BbWU4MDM5OTM1MTYx._V1_SX300.jpg"
  />

  <!-- movie-details -->
  <div class="details">
    <div class="movie-name">The Green Inferno</div>
    <div class="rate margin-bottom-14">
      <fa-icon [icon]="starIcon"></fa-icon>
      <fa-icon [icon]="starIcon"></fa-icon>
      <fa-icon [icon]="starIcon"></fa-icon>
      5.3
    </div>
    <div class="time margin-bottom-14">
      <div class="year">
        <fa-icon [icon]="calendarIcon"></fa-icon>
        2013
      </div>
      <div class="run-time">
        <fa-icon [icon]="clockIcon"></fa-icon>
        100 min
      </div>
    </div>
    <div class="country margin-bottom-14">
      <fa-icon [icon]="countryIcon"></fa-icon>
      United States
    </div>
    <div class="language margin-bottom-14">
      <fa-icon [icon]="languageIcon"></fa-icon>
      English, Spanish
    </div>
    <div class="award margin-bottom-14">
      <fa-icon [icon]="awardIcon"></fa-icon>
      1 win & 6 nominations
    </div>
    <div class="money margin-bottom-14">
      <fa-icon [icon]="moneyIcon"></fa-icon>
      $7,192,291
    </div>
    <div class="money margin-bottom-14 bold">
      <span> Genre:</span> Adventure, Horror
    </div>
    <div class="money margin-bottom-14 bold">
      <span> Director:</span> "Eli Roth
    </div>
    <div class="money margin-bottom-14 bold">
      <span> Writer:</span> Eli Roth, Guillermo Amoedo
    </div>
    <div class="money margin-bottom-14 bold">
      <span> Actors:</span> Lorenza Izzo, Ariel Levy, Aaron Burns
    </div>
  </div>
</div>

<!-- movie-summery -->
<div class="description">
  <span> summery: </span>
  A group of student activists travels to the Amazon to save the rain forest and
  soon discover that they are not alone, and that no good deed goes unpunished.
</div>
